In [47]:
import pandas as pd

In [48]:
def highlight_max(df):
    cp = df.copy()
    cp.columns = cp.columns.str.removeprefix('CC_NORM/').str.removeprefix('CC_ABS/').str.replace('_', '\\_')
    cols = cp.select_dtypes(include='number').columns
    for c in cols:
        cp[c] = cp[c].round(3).astype(str)
        i = cp[c].idxmax()
        cp.at[i, c] = "\\textbf{" + str(cp.at[i, c]) + "}"
    return cp

In [49]:
df = pd.read_csv('wandb_data.csv', na_values=['-', ''])
# Drop rows that are completely empty
df = df.loc[:, ~df.isna().all(axis=0)]
wandb_cols = ['State', 'Created', 'Runtime', 'GPU Type']
param_cols = df.columns[df.columns.str.islower()]
df = df[df.columns.difference(wandb_cols).difference(param_cols)]
df

,CC_ABS,CC_ABS/Exc_L23,CC_ABS/Exc_L4,CC_ABS/Inh_L23,CC_ABS/Inh_L4,CC_NORM,CC_NORM/Exc_L23,CC_NORM/Exc_L4,CC_NORM/Inh_L23,CC_NORM/Inh_L4,Name
0,0.144418,0.032110,0.103174,0.135723,0.127355,0.177709,0.055024,0.136734,0.192168,0.150331,RNN | 3.1e-5 | MSE | CLM
1,0.759073,0.511097,0.699002,0.634051,0.791480,0.934107,0.877732,0.926454,0.898251,0.934253,RNN | 3.1e-5 | Poisson | Full
2,0.575906,0.515095,0.355431,0.635133,0.778262,0.708619,0.884303,0.470952,0.899656,0.918627,RNN | 3.1e-5 | Poisson | CLM
3,0.119245,NaN,NaN,NaN,NaN,0.146801,NaN,NaN,NaN,NaN,DNN | 1.1e-4 | MSE | CLM
4,0.688140,NaN,NaN,NaN,NaN,0.846969,NaN,NaN,NaN,NaN,DNN | 3.8e-5 | MSE | Full

In [50]:
high_level = df[['Name', 'CC_NORM', 'CC_ABS']].sort_values('CC_NORM', ascending=False)
high_level = highlight_max(high_level)
print(
    high_level.to_latex(
        escape=False,
        index=False,
    )
)

\begin{tabular}{lll}
\toprule
Name & CC\_NORM & CC\_ABS \\
\midrule
RNN | 3.1e-5 | Poisson | Full & \textbf{0.934} & \textbf{0.759} \\
DNN | 3.8e-5 | MSE | Full & 0.847 & 0.688 \\
RNN | 3.1e-5 | Poisson | CLM & 0.709 & 0.576 \\
RNN | 3.1e-5 | MSE | CLM & 0.178 & 0.144 \\
DNN | 1.1e-4 | MSE | CLM & 0.147 & 0.119 \\
\bottomrule
\end{tabular}

In [51]:
per_layer = df.loc[df.notna().all(axis=1), :]
norm_cols = list(df.columns[df.columns.str.contains('CC_NORM')])
abs_cols = list(df.columns[df.columns.str.contains('CC_ABS')])

In [52]:
per_layer[['Name'] + norm_cols]

,Name,CC_NORM,CC_NORM/Exc_L23,CC_NORM/Exc_L4,CC_NORM/Inh_L23,CC_NORM/Inh_L4
0,RNN | 3.1e-5 | MSE | CLM,0.177709,0.055024,0.136734,0.192168,0.150331
1,RNN | 3.1e-5 | Poisson | Full,0.934107,0.877732,0.926454,0.898251,0.934253
2,RNN | 3.1e-5 | Poisson | CLM,0.708619,0.884303,0.470952,0.899656,0.918627

In [53]:
per_layer_norm = per_layer[['Name'] + norm_cols]
per_layer_norm = highlight_max(per_layer_norm)
print(
    per_layer_norm.to_latex(
        escape=False,
        index=False,
    )
)

\begin{tabular}{llllll}
\toprule
Name & CC\_NORM & Exc\_L23 & Exc\_L4 & Inh\_L23 & Inh\_L4 \\
\midrule
RNN | 3.1e-5 | MSE | CLM & 0.178 & 0.055 & 0.137 & 0.192 & 0.15 \\
RNN | 3.1e-5 | Poisson | Full & \textbf{0.934} & 0.878 & \textbf{0.926} & 0.898 & \textbf{0.934} \\
RNN | 3.1e-5 | Poisson | CLM & 0.709 & \textbf{0.884} & 0.471 & \textbf{0.9} & 0.919 \\
\bottomrule
\end{tabular}

In [54]:
per_layer_abs = per_layer[['Name'] + abs_cols]
per_layer_abs = highlight_max(per_layer_abs)

print(
    per_layer_abs.to_latex(
        escape=False,
        index=False,
    )
)

\begin{tabular}{llllll}
\toprule
Name & CC\_ABS & Exc\_L23 & Exc\_L4 & Inh\_L23 & Inh\_L4 \\
\midrule
RNN | 3.1e-5 | MSE | CLM & 0.144 & 0.032 & 0.103 & 0.136 & 0.127 \\
RNN | 3.1e-5 | Poisson | Full & \textbf{0.759} & 0.511 & \textbf{0.699} & 0.634 & \textbf{0.791} \\
RNN | 3.1e-5 | Poisson | CLM & 0.576 & \textbf{0.515} & 0.355 & \textbf{0.635} & 0.778 \\
\bottomrule
\end{tabular}